* {
margin: 0;
box-sizing: border-box;
}

body {
font-family: sans-serif;
padding: 90px 0px 0;
}

.header {
background-color: white;
height: 80px;
position: fixed;
width: 100%;
top: 0;
left: 0;
}

.nav {
display: flex;
justify-content: space-between;
max-width: 992px;
margin: 0 auto;
padding-top: 20px;
padding-bottom: 20px;
}

.nav-link {
color: white;
text-decoration: none;
}

.logo {
font-size: 30px;
font-weight: bold;
padding: 0 40px;
line-height: 80px;
}

.nav-menu {
display: flex;
margin-right: 40px;
list-style: none;
}

.nav-menu-item {
font-size: 18px;
margin: 0 10px;
line-height: 80px;
text-transform: uppercase;
width: max-content;
}

.nav-menu-link {
padding: 8px 12px;
border-radius: 3px;
}


/* FOOTER */
.footer-link{
    text-decoration: none;
}
.footer-link:hover{
    color: #ca8252;
}

.insta-hover:hover{
    color: #DC7296; 
}


/* TOGGLE */
.nav-toggle {
color: black;
background: none;
border: none;
font-size: 15px;
padding: 0 20px;
line-height: 60px;
cursor: pointer;

display: none;
}

/*INICIO*/
#black-logo{
    max-height: 100%;
    margin-top: -75px;  
    height: 5px;  
}

.aspiradora{
    height: 300px;
    width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*NOSOTROS*/
.line{
    color: #616063;
}

.under-line{
    height: 10px;
    width: auto;
    background-color: #616063;
}

/*ACABADOS*/


/* MOBILE */
@media (min-width: 0px){
body {
    padding-top: initial;
}

.header {
    height: 100px;
}

.logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}

.nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: black;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    margin-top: 40px;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
}

.nav-menu-item {
    line-height: 70px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background: none;
    color: #FED049;
}


.nav-toggle {
    display: block;
}

.nav-menu_visible {
    margin-top: 40px;
    left: 0;
}

.nav-toggle:focus:not(:focus-visible) {
    outline: none;
}
}



