* {
margin: 0;
box-sizing: border-box;
}

body {
font-family: sans-serif;
padding: 90px 0px 0;
}

.header {
background-color: white;
height: 80px;
position: fixed;
width: 100%;
top: 0;
left: 0;
}

/*LOADER*/
.loader{
    position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
    height: 100vh;    
    background-color: #111;
    color: white;
    z-index: 69;
}
.loader-content{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 40px;

}
@keyframes load {
    0% {
        opacity: 0.09;
        /*font-size: 10px; */
        /*font-weight: 400; */
        filter: blur(3px);
        letter-spacing: 25px;
    }
    100% {
        /*opacity: 1; */
        /*font-size: 12px; */
        /*font-weight:600; */
        /*filter: blur(0); */
    }
}

.animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    /*width: 350px; */
    font-size:50px; 
    letter-spacing: 40px;
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
}
/*END LOADER*/

/*MENU*/
.nav {
display: flex;
justify-content: space-between;
max-width: 992px;
margin: 0 auto;
padding: 20px 0px;
}

.nav-link {
color: white;
text-decoration: none;
}

.logo {
font-size: 30px;
font-weight: bold;
padding: 0 40px;
line-height: 80px;
}

.nav-menu {
display: flex;
margin-right: 40px;
list-style: none;
}

.nav-menu-item {
font-size: 18px;
margin: 0 10px;
line-height: 80px;
text-transform: uppercase;
width: max-content;
}

.nav-menu-link {
padding: 8px 12px;
border-radius: 3px;
}

.nav-menu-link:hover{
  transition: 0.5s;
}

/*NAV-MENU-BOTTOM*/
.box-nav-bottom{
    color: #F1F1F1!important;
    background-color: #161616!important;
}


/*MOBILE-NAV-MENU-BOTTOM*/
@media (max-width: 850px){
    .box-nav-bottom{
        font-size: 14px!important;
    }
    .word-nav-bottom{
        font-size: 18px!important;
    }
    .social-logos{
        font-size: 24px!important;
    }
}

@media (max-width: 770px) {
    .box-nav-bottom{
        font-size: 13px!important;
    }
    .word-nav-bottom{
        font-size: 17px!important;
    }
    .social-logos{
        font-size: 25px!important;
    }
}
@media (max-width: 620px) {    
    .social-logos{
        font-size: 21px!important;
    }
}

@media (max-width:600px){
    .box-display-bottom{
        padding-bottom: 0px!important;
    }
    .word-nav{
        padding: 10px 0px!important;
    }
}
/*END-MOBILE-NAV-MENU-BOTTOM*/



/* FOOTER */
.box-footer{
    color: #F1F1F1!important;
    background-color: #161616!important;
}
.footer-link{
    text-decoration: none;
}
.footer-link:hover{
    color: #ca8252!important;
}

.insta-hover:hover{
    /*color: #DC7296; */
    background-image:  linear-gradient(to right, #405DE6, #C13584);
    border-radius: 25%;
}

/*MOBILE-FOOTER*/
@media (max-width: 450px) {
    .box-footer{
        font-size: 13px!important;
    }
    .word-footer{
        font-size: 17px!important;
    }
    .social-logos{
        font-size: 25px!important;
    }
    .image-pago{
        width: 42%!important;
    }
}
/*END-MOBILE-FOOTER*/



/* TOGGLE */
.nav-toggle {
color: black;
background: none;
border: none;
font-size: 15px;
padding: 0 20px;
line-height: 60px;
cursor: pointer;

display: none;
}

/*HOME*/
#black-logo{
    max-height: 100%;
    margin-top: 20px;  
    padding-bottom: 40px;
    height: 5px; 
}

.home-image{
    height: 400px;
    width: 100%;
   
}

.box-home-image{
    padding: 30px;
}

/*MOBILE-HOME-IMAGE*/
@media (max-width: 1400px){
.home-image{
    height: 340px;
}
}

@media (max-width: 1180px){
    .home-image{
        height: 300px;
    }
    }


@media (max-width: 1020px){
.home-image{
    height: 200px;
}
}

@media (max-width: 700px){
    .home-image{
        height: 150px;
    }
    }

@media (max-width: 600px){
.nav{
    padding: 0px;
}
.page-container{
    margin-top:50px!important
}
.header{
    height: 68px!important;
}
.home-image{
    height: 230px;       
}
.box-home-image{
    padding: 20px;
}
.bar-decoration{
    margin-top: 8px!important;
    margin-bottom: 8px!important;
}
.bar-container{
    margin-top: 32px;
}
#black-logo{
    display: none;
}
.image-container{
    padding: 10px!important;
}
.portada{
    display: none;
}
.inicio-responsive{
    margin-top: 69px!important;
}
.texto-medio{
    margin-top: 0!important;
    font-size: 22px;
}

.nav-menu_visible{
    margin-top: 8px!important;
}
.titulos{
    padding-top: 0px;
    font-size: 25px!important;
}
h2{
    font-size: 20px!important;
}
.frase-home{
    font-size: 12px!important;  
}

.inicio-responsive{
    margin-top: 100px!important;
    margin-bottom: 35px!important;
}
.inicio-no-index{
    margin-top: 80px!important;
}
.caja-frase{
    animation: opacity 1s forwards;
}

.loader-content{
    padding-bottom: 100px;
}
@keyframes opacity { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.8;
    }
  }
}
/*END MOBILE-HOME-IMAGE*/

.slides{
    display: none;
}

.fondo-blur{
    width: 100%;    
    filter: blur(6px);
}

.no-blur{
    width: 85%;     
}
/*MOBILE-PORTADA-IMAGE*/
@media (max-width: 600px){
    .portada-image{
        height: 400px;
    }
    .texto-medio{
        margin-top: 20px!important;
        font-size: 22px;
    }
}

@media (max-width: 500px){
    .portada-image{
        height: 340px;
    }
    .texto-medio{
        margin-top: 10px!important;
        font-size: 22px;
    }
}

@media (max-width: 430px){
    .portada-image{
        height: 340px;
    }
    .texto-medio{
        margin-top: 20px!important;
        font-size: 22px;
    }
}

@media (max-width: 380px){
    .portada-image{
        height: 270px;
        
    }
    .texto-medio{
        margin-top: 0!important;
    }
}


/*MOBILE-BACKGROUND-HOME*/
@media (max-width: 1024px){
.fondo-blur{
    opacity: 0;
}

.no-blur{
    width: 100%;    
}
}
/*END MOBILE-BACKGROUND-HOME*/

.slides{
    display: none;
}

.fondo-blur{
    width: 100%;    
    filter: blur(6px);
}

.no-blur{
    width: 85%;     
}

@media (max-width: 1024px){
.fondo-blur{
    opacity: 0;
}

.no-blur{
    width: 100%;    
}
}

/*NOSOTROS*/
.line{
    color: #616063;
}

.under-line{
    height: 10px;
    width: auto;
    background-color: #616063;
}

/*LIMPIEZA*/
.aspiradora{
    height: 300px;
    width: 100%;
   
}

.box-aspiradora{
    padding: 30px 40px 30px 0px;
}

/*MOBILE-ASPIRADORA*/
@media (max-width: 900px){
.aspiradora{
    height: 200px;
}
}

@media (max-width: 600px){
.aspiradora{
    height: 250px;   
}
.box-aspiradora{
    padding: 20px;
}
.subtitulo{
    font-size: 18px;
}
.oracion-limpieza{
    font-size: large;
}
}
/*END MOBILE-ASPIRADORA*/

/*MALLAS*/
.mallas{
    height: 350px;
    width: 100%;
   
}

.box-mallas{
    padding: 30px;
}

/*MOBILE-ASPIRADORA*/
@media (max-width: 1380px){
.mallas{
    height: 300px;
}
}

@media (max-width: 1080px){
.mallas{
    height: 250px;
}
}

@media (max-width: 770px){
    .mallas{
        height: 180px;
    }
    }

@media (max-width: 600px){
.mallas{
    height: 250px;   
}
.box-mallas{
    padding: 20px;
}
}
/*END MOBILE-ASPIRADORA*/


/* MOBILE  MENU*/
@media (min-width: 0px){
body {
    padding-top: initial;
}

.header {
    height: 100px;
}

.logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}

.nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #161616;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    margin-top: 40px;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
}

.nav-menu-item {
    line-height: 70px;
}

.nav-menu-link:hover{
    background: none;
    color: #EBA83A;
    font-size: 20px;
}


.nav-toggle {
    display: block;
}

.nav-menu_visible {
    margin-top: 40px;
    left: 0;
}

.nav-toggle:focus:not(:focus-visible) {
    outline: none;
}
}


@media (max-width: 600px){
body {
    padding-top: initial;
}

.header {
    height: 100px;
}

.logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}

.nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #161616;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    margin-top: 9px;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
}

.nav-menu-item {
    line-height: 70px;
}

.nav-menu-link:hover{
    background: none;
    color: #EBA83A;
    font-size: 20px;
}


.nav-toggle {
    display: block;
}

.nav-menu_visible {
    margin-top: 40px;
    left: 0;
}

.nav-toggle:focus:not(:focus-visible) {
    outline: none;
}
}
/*END MOBILE MENU */



